/*

*/
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {
	direction: rtl;
	unicode-bidi: embed;
}
caption,
th,
td {
	text-align: right;
}
h3 , h4 {
	font-family: 'Droid Arabic Kufi', serif;
}

#site_title { 
	float: right; 
}

.ddsmoothmenu {
	float: left; 
}
.ddsmoothmenu ul li {
float: right;
}

#mid_left { 
	float:right; 
}

#mid_slider { 
	float: left; 
}


.icon {
	right: -40px;
}

.fp_service_box img {
	float: right;
	margin-left: 25px;
}
.col_allw280 { float: right; }
.ddsmoothmenu ul li ul li a{

	text-align: right;
}
.col_w900_comments { 
	border-right: 4px solid #ccc;
	border-left: none;
}
	
.col_w900_comments figure{ 
	float:right;
	right: -60px;
	margin-left: -45px;
}

.comment-body{ 
	float:right;
	padding: 15px 0;
	max-width: 550px;
}

